.contact__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__card {
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.contact__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

.contact__option h4 {
    color: var(--color-white);
    margin-bottom: 0.2rem;
}

.contact__option h5 {
    color: var(--color-light);
    font-size: 0.9rem;
}

.contact__link {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--transition);
}

.contact__link:hover {
    color: var(--color-white);
    transform: translateY(-2px);
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
    .contact__card {
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .contact__card {
        grid-template-columns: 1fr;
        max-width: 400px;
        padding: 1.5rem;
    }

    .contact__option {
        padding: 1rem;
    }

    .contact__option-icon {
        font-size: 1.2rem;
    }
}
